[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DCG"]
	path = DCG
	url = https://github.com/hanettools/dcg
	shallow = true
	registered = true
[submodule "Perc"]
	path = Perc
	url = https://github.com/hanettools/perc
	shallow = true
	registered = true
